


body{
    background-color: #F1F1F3;
}


.container{
    max-width: 1600px;
    margin: 0 auto;
}

.orange{
    padding: 10px ;
    border-radius: 8px;
    background-color: #FF9500;
    color: white;
    text-align: center;
    font-size: 18px;
}

.str{
    color: yellow;
}

.arrw{
    padding-left: 10px;
}

nav{
    text-transform: capitalize;
    margin-top: 20px;
    margin-left: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;

}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px
}

nav ul li a:hover{
    color: rgb(164, 57, 82);
    border-radius: 10px;
    
}

.mt-100{
    margin-top: 100px;      
}

.buttons{
    display: flex;
    margin-left:800px;
    gap: 30px;
}


.sign{
    border: none;
    background-color: initial;
}

.sign:hover{
    background-color:rgb(164, 57, 82);
    border-radius: 8px;
    color: white;
}


.login{
    background-color:#FF9500;
    color: white;
    border: none;
    padding: 14px 34px 14px 34px;
    border-radius: 8px;
}

.login:hover{
    background-color: rgb(164, 57, 82);
}



.sctn1{
    text-align: center;
}

.volt{
    background-color: #FFF4E5;
    padding: 14px;
    font-size: 30px;
    padding-right: 10px;
}

.unlock{
    color: #FF9500;
}


.sctn1 h1{
    font-size: 48px;
}

.sctn1 h3{
font-size: 38px;
}

.sctn1 p{
 font-size: 18px;
}

.btn1{
    background-color: #FF9500;
    color: white;
    padding: 18px 24px;
    border-radius: 8px;
    border: none;
    margin-right: 7px;
    cursor: pointer;
}

.btn1:hover{
    background-color: rgb(164, 57, 82);
}


.btn2{
    background-color: white;
    border: none;
    padding: 18px 24px;
    border-radius: 8px;
    cursor: pointer;
}

.btn2:hover{
    background-color: rgb(164, 57, 82);
    color: white;
}

.socialmedias{
    background-color: white;
    height: 154px;
    display: flex;
    align-items: center;
}


.row{
    display: flex;
    gap: 650px;
}
/* end of section1 */
/* start of section2 */


.sctn2 h1{
     font-size: 40px;
}

.btn3{
    width: 128px;
    background-color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn3:hover{
        background-color: rgb(164, 57, 82);
        color: white;
}

.cards{
    margin-top: 50px;
    background-color: white;
    width: 514px;
    height: 430px;
    border-radius: 8px;
}

.cards img{
 margin-left: 400px;
}

.cards h1{
    text-align: right;
    font-size: 74px;
    margin-right: 38px;
}

.cards h4{
    font-size: 27px;
    padding-left: 18px;
}

.cards p {
    font-size: 21px;
    padding-left: 18px;
}

.row1{
    display: flex;
    gap: 40px;
}

.card{
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
    width: 685px;
    padding: 47px;
}

.coursess{
    font-size: 35px;
}

.row2{
    display: flex;
    justify-content: space-between;
}

.btn4{
    background-color: white;
    padding: 10px 16px 10px 16px;
    border-radius: 8px;
    border: none;
}

.btn5{
    width: 685px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn5:hover{
    background-color: rgb(164, 57, 82);
    color: white;
}
/* end of section5 */
/* start of section 6 */


.testimonials{
    width: 707px;
    background-color: white;
    padding: 30px;
    margin-top: 70px;
    border-radius: 8px;
}

.testimonials p{
font-size: 18px;
}


.sarah{
    display: flex;
    gap: 10px;
}

.sarah2{
    display: flex;
    justify-content: space-between;
}

.btn6{
    border-radius: 8px;
    padding: 18px 24px 18px 24px;
    border: none;
    cursor: pointer;
}

.btn6:hover{
    background-color: rgb(164, 57, 82) ;
    color: white;

}

.flex-container{
    display: flex;
    gap: 50px;
}

.monials{
    font-size: 34px;
}

.pricing{
    font-size: 34px;
}

.buttons3{
    background-color: white;
    height: 40px;
    padding: 10px;
}

.btn7{
    padding: 14px 30px 14px 30px;
    border-radius: 8px;
    background-color:#FF9500;
    border: none;
    color: white;
    cursor: pointer;
}

.btn7:hover{
    background-color: rgb(164, 57, 82);
}

.btn8{
    padding: 14px 30px 14px 30px;
    border-radius: 8px;
    background-color:white;
    border: none;
    cursor: pointer;
}

.btn8:hover{
    background-color: rgb(164, 57, 82);
    color: white;
}

.cards4{
    margin-top: 50px;
    background-color:white;
    width:639px;
    padding: 69px;
    text-align: center;
    border-radius: 8px;
}

.btn9{
    background-color:#FFF9F0;
    border-radius: 6px;
    border: 1px solid #FFEACC;
    width: 480px;
    padding: 12px 22px 12px 22px;
}

.dlr{
    font-size: 70px;
}

.features{
    padding-top: 10px;
    background-color: white;
    height: 490px;
    border-radius: 10px;
}

.btn10{
    background-color: white;
    border: 1px solid #F1F1F3;
    border-radius: 7px;
 padding: 8px;
 width: 340px;
 text-align: left;
 margin-top: 8px;
}

.yes{
    background-color: #FFF9F0;
    padding: 6px;
    border-radius: 5px;
    margin-right: 10px;
}

.no{
    padding: 6px;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

.btn11{
    background-color: orange;
    color: white;
    width: 568px;
    margin-top: 28px;
    padding: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn11:hover{
    background-color:rgb(164, 57, 82) ;
}

.sctn6{
    background-color: white;
    width: 1600px;
    margin: 100px auto;
}

.sctn6 h1{
    font-size: 22px;
}

.text{
    padding: 99px 240px;
}

.btn12{
    background-color: white;
    border: 1px solid #F1F1F3;
    padding: 18px 24px 18px 24px;
    border-radius: 10px;
    margin-top:26px;
}

.card5{
    padding-top: 149px;
    padding-left: 67px;
    margin-bottom: 101px;
}

.row3{
    display: flex;
    justify-content: space-between;
}

.btn13{
    width: 561px;
    height: 63px;
    border-radius: 8px;
    border: 1px solid antiquewhite;
    background-color: white;
    text-align: left;
    padding: 20px;
    margin-top: 15px;
}

.pl{
    margin-left: 244px;
}

.arrw2{
    background-color: white;
    border-radius: 100%;
    margin-left: 244px;
    padding: 4px;
}

.btn14{
    width: 561px;
    height: 63px;
    text-align: left;
    padding: 20px;
    border-radius: 8px;
    border: none;
}

footer{
    padding: 30px;
}

.fttr{
    background-color: white;
    width: 1600px;
    margin: auto;
    margin-top: 100px;
}

.roww{
    display: flex;
    gap: 600px;
}

.ftter2{
    display: flex;
    gap: 100px;
}

.face{
    background-color:#F7F7F8 ;
    padding: 10px;
    border-radius: 8px;
}





/* coureses html */

.sctn1-2 h1{
    font-size: 50px;
    padding: 0 73px;
}

.sctn1-2 p{
    font-size: 20px;
}

.sctn2-2{
    background-color: white;
    width: 1600px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 100px;

}


.imagess{
    margin-top: 50px;
    display: flex;
    gap: 81px;
}

.btn16{
    background-color: white;
    padding:14px;
    border-radius: 8px;
    border: 1px solid #F1F1F3;
}

.curricullum{
    border: 1px solid #F1F1F3;
}

.cards5{
    display: flex;
    justify-content: space-evenly;
}

.smallcards{
    border: 1px solid #F1F1F3;
    padding: 20px;
    width: 221px;
}

.smallcards p{
    font-size: 22px;
}

.sctn2-2 p{
    font-size: 22px;
}

.foter-p{
    text-align: center;
}


.btn17{
    padding: 18px 24px 18px 24px;
    border-radius: 8px;
    border: 1px solid #F1F1F3;
    text-decoration: none;
    cursor: pointer;
}

.btn17:hover{
    background-color: rgb(164, 57, 82);
    color:white;
}

.card8{
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    width: 700px;
    margin-top: 20px;
}

.card8 h1{
    font-size: 60px;
    text-align: right;
}

.mshobeli{
    margin-top: 10px;
    border: 1px solid #F1F1F3;
    padding: 23px;
    border-radius: 8px;
    width: 650px;
    display: flex;
    justify-content: space-between;
}

.shvilii2{
    border: 1px solid #F1F1F3;
    background-color: #F7F7F8;
    border-radius: 6px;
    padding: 14px;
    font-size: 16px;
    width: 140px;
    color: gray;
    text-align: center;
}

/* COURSES OPEN PAGE DASAMTAVREBELI MAQVSSSSSS */

/* pricing */

.btns{
    text-align: center;
}


/* about page */


.fs-40{
    font-size: 40px;
}

.fs-25{
    font-size: 25px;
}


.texxt{
    margin-top: 50px;
}


.mshobeli2{
    background-color: white;
    padding: 20px;
}

.bgi{
    background-image: url(/img/images/shape.png);
    width: 301px;
}

.shvilii3 h1{
    font-size: 57px;
}

.shvilii4{
    display: flex;
    align-items: center;
}

.btn15{
    background-color: #FF9500;
    color: white;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #FF9500;
}

@media only screen and (max-width: 1400px){

    .container{
        max-width: 1400px;
        margin: 0 auto;
    }

.kacidaqali{
    width: 1400px;
}

.sctn2 .cards{
width:437px ;
height: 463px;
}

.cards img{
    margin-left: 330px;
   }

   .card{
    width: 582px;
}

.card img{
    width: 605px;
}

.btn5{
    width: 597px;
}
   
.cards4{
width: 532px;
}

.sctn6{
    width: 1400px;
}

.fttr{
    width: 1400px;
}

.scmd{
    width: 197px;
}

.buttons{
    margin-left: 633px;
}

.sctn2-2{
    width: 1400px;
}

.sctn2-2 img{
    width:400px ;
}

.zoma{
    width: 700px;
}


}


    @media only screen and (max-width:768px){
        .container{
            max-width: 768px;
            margin-right: auto;
            margin-left: auto;
        }
    
        
    
        .orange{
            padding: 20px;
            border-radius: 6px;
            font-size: 18px;
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
    
        nav{
            display: flex;
            padding: 20px;
            justify-content: baseline;
            align-items: center;
        }
    
        .hide{
            visibility: hidden;
        }

        .kacidaqali{
        width: 768px;
        }
    
      
       
       .buttons{
        margin-left: 20px;
       }

       .login{
        visibility: hidden;
       }

      .sign{
        visibility: hidden;
      }

       .socialmedias{
        width: 768px ;
       }

       .scmd{
        width: 250px;
       }

       .row{
        flex-direction: column;
        gap: 0;
        align-items: center;
       }

       .row1{
        flex-direction: column;
        align-items: center;

       }

       .row2{
        flex-direction: column;
        align-items: center;
       }

       .flex-container{
        flex-direction: column;
        align-items: center;
       }

       .testimonials{
        width: 300px;
        align-items: center;
       }

       .row3{
        flex-direction: column;
        align-items: center;
       }

       .roww{
        flex-direction: column;
        gap: 0;
       }

.sctn6{
    width: 768px;
}


.fttr{
    width: 768px;
}

.ftter2{
    flex-direction: column;
gap: 0;
}


.lorem{
width: 200px;
}

.pricing{
    text-align: center;
}

.monials{
    text-align: center;
}

.coursess{
    text-align: center;
}

.btn3{
    padding: 24px;
    background-color:white ;
    border: 1px solid white;
}

.sctn2-2{
    width: 768px;
}

.imagess{
    gap: 10px;
}

.imagess img{
    width: 230px;
}

.cards5{
    flex-direction: column;
}

.curricullum{
    border: none;
}

.didiimage{
    width: 768px;
}

}



