
body{
    background-color: #F1F1F3;
}


.container{
    max-width: 1600px;
    margin: 0 auto;
}

.orange{
    padding: 10px ;
    border-radius: 8px;
    background-color: #FF9500;
    color: white;
    text-align: center;
    font-size: 18px;
}

.str{
    color: yellow;
}

.arrw{
    padding-left: 10px;
}

nav{
    text-transform: capitalize;
    margin-top: 20px;
    margin-left: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;

}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px
}

nav ul li a:hover{
    color: rgb(164, 57, 82);
    border-radius: 10px;
    
}

.buttons{
    display: flex;
    margin-left:800px;
    gap: 30px;
}


.sign{
    border: none;
    background-color: initial;
}

.sign:hover{
    background-color:rgb(164, 57, 82);
    border-radius: 8px;
    color: white;
}


.login{
    background-color:#FF9500;
    color: white;
    border: none;
    padding: 14px 34px 14px 34px;
    border-radius: 8px;
}

.login:hover{
    background-color: rgb(164, 57, 82);
}

.sctn1{
    margin-top: 100px;
    text-align: center;
}

.volt{
    background-color: #FFF4E5;
    padding: 14px;
    font-size: 30px;
    padding-right: 10px;
}

.unlock{
    color: #FF9500;
}


.sctn1 h1{
    font-size: 48px;
}

.sctn1 h3{
font-size: 38px;
}

.sctn1 p{
 font-size: 18px;
}

.btn1{
    background-color: #FF9500;
    color: white;
    padding: 18px 24px;
    border-radius: 8px;
    border: none;
    margin-right: 7px;
    cursor: pointer;
}

.btn1:hover{
    background-color: rgb(164, 57, 82);
}


.btn2{
    background-color: white;
    border: none;
    padding: 18px 24px;
    border-radius: 8px;
    cursor: pointer;
}

.btn2:hover{
    background-color: rgb(164, 57, 82);
    color: white;
}

.socialmedias{
    margin-top: 100px;
    background-color: white;
    height: 154px;
    display: flex;
    align-items: center;
}

.foto{
    margin-top: 100px;
}
.row{
    display: flex;
    gap: 650px;
}
/* end of section1 */
/* start of section2 */
.sctn2{
    margin-top: 100px
}

.sctn2 h1{
     font-size: 40px;
}

.btn3{
    width: 128px;
    background-color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn3:hover{
        background-color: rgb(164, 57, 82);
        color: white;
}

.cards{
    margin-top: 50px;
    background-color: white;
    width: 514px;
    height: 430px;
    border-radius: 8px;
}

.cards img{
 margin-left: 400px;
}

.cards h1{
    text-align: right;
    font-size: 74px;
    margin-right: 38px;
}

.cards h4{
    font-size: 27px;
    padding-left: 18px;
}

.cards p {
    font-size: 21px;
    padding-left: 18px;
}

.row1{
    display: flex;
    gap: 40px;
}

.card{
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
    width: 685px;
    padding: 47px;
}

.sctn3{
    margin-top: 100px;
}

.coursess{
    font-size: 35px;
}

.row2{
    display: flex;
    justify-content: space-between;
}

.btn4{
    background-color: white;
    padding: 10px 16px 10px 16px;
    border-radius: 8px;
    border: none;
}

.btn5{
    width: 685px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn5:hover{
    background-color: rgb(164, 57, 82);
    color: white;
}
/* end of section5 */
/* start of section 6 */
.sctn4{
    margin-top: 100px;
}

.testimonials{
    width: 707px;
    background-color: white;
    padding: 30px;
    margin-top: 70px;
    border-radius: 8px;
}

.testimonials p{
font-size: 18px;
}


.sarah{
    display: flex;
    gap: 10px;
}

.sarah2{
    display: flex;
    justify-content: space-between;
}

.btn6{
    border-radius: 8px;
    padding: 18px 24px 18px 24px;
    border: none;
    cursor: pointer;
}

.btn6:hover{
    background-color: rgb(164, 57, 82) ;
    color: white;

}

.flex-container{
    display: flex;
    gap: 50px;
}

.monials{
    font-size: 34px;
}


.sctn5{
    margin-top: 100px;
}

.pricing{
    font-size: 34px;
}

.buttons3{
    background-color: white;
    height: 40px;
    padding: 10px;
}

.btn7{
    padding: 14px 30px 14px 30px;
    border-radius: 8px;
    background-color:#FF9500;
    border: none;
    color: white;
    cursor: pointer;
}

.btn7:hover{
    background-color: rgb(164, 57, 82);
}

.btn8{
    padding: 14px 30px 14px 30px;
    border-radius: 8px;
    background-color:white;
    border: none;
    cursor: pointer;
}

.btn8:hover{
    background-color: rgb(164, 57, 82);
    color: white;
}

.cards4{
    margin-top: 50px;
    background-color:white;
    width:639px;
    padding: 69px;
    text-align: center;
    border-radius: 8px;
}

.btn9{
    background-color:#FFF9F0;
    border-radius: 6px;
    border: 1px solid #FFEACC;
    width: 480px;
    padding: 12px 22px 12px 22px;
}

.dlr{
    font-size: 70px;
}

.features{
    padding-top: 10px;
    background-color: white;
    height: 490px;
    border-radius: 10px;
}

.btn10{
    background-color: white;
    border: 1px solid #F1F1F3;
    border-radius: 7px;
 padding: 8px;
 width: 340px;
 text-align: left;
 margin-top: 8px;
}

.yes{
    background-color: #FFF9F0;
    padding: 6px;
    border-radius: 5px;
    margin-right: 10px;
}

.no{
    padding: 6px;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

.btn11{
    background-color: orange;
    color: white;
    width: 568px;
    margin-top: 28px;
    padding: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn11:hover{
    background-color:rgb(164, 57, 82) ;
}

.sctn6{
    background-color: white;
    width: 1600px;
    margin: 100px auto;
}

.sctn6 h1{
    font-size: 22px;
}

.text{
    padding: 99px 240px;
}

.btn12{
    background-color: white;
    border: 1px solid #F1F1F3;
    padding: 18px 24px 18px 24px;
    border-radius: 10px;
    margin-top:26px;
}

.card5{
    padding-top: 149px;
    padding-left: 67px;
    margin-bottom: 101px;
}

.row3{
    display: flex;
    justify-content: space-between;
}

.btn13{
    width: 561px;
    height: 63px;
    border-radius: 8px;
    border: 1px solid antiquewhite;
    background-color: white;
    text-align: left;
    padding: 20px;
    margin-top: 15px;
}

.pl{
    margin-left: 244px;
}

.arrw2{
    background-color: white;
    border-radius: 100%;
    margin-left: 244px;
    padding: 4px;
}

.btn14{
    width: 561px;
    height: 63px;
    text-align: left;
    padding: 20px;
    border-radius: 8px;
    border: none;
}

footer{
    padding: 30px;
}

.fttr{
    margin-top: 150px;
    background-color: white;
    width: 1600px;
    margin: 0 auto;
}

.roww{
    display: flex;
    gap: 600px;
}

.ftter2{
    display: flex;
    gap: 100px;
}

.face{
    background-color:#F7F7F8 ;
    padding: 10px;
    border-radius: 8px;
}

/* coureses html */

.sctn1-2{
    margin-top: 100px;
}

.sctn1-2 h1{
    font-size: 40px;
    padding: 0 73px;
}

.sctn1-2 p{
    font-size: 20px;
}

.sctn2-2{
    background-color: white;
    width: 1600px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 100px;

}

.btn15{
    width: 128px;
    background-color: #F1F1F3;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn15:hover{
    background-color: rgb(164, 57, 82);
    color: white;
}
.imagess{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.btn16{
    background-color: white;
    padding:14px;
    border-radius: 8px;
    border: 1px solid #F1F1F3;
}